//header {
//  display: flex;
//}
//.logo-container {
//  margin-left: 110px;
//  padding-top: 60px;
//
//}
//.logo-img{
//  width: 60px;
//  height: 71px;
//}
//.logo-text{
//  margin-left: 25px;
//  display: inline-block;
//  font-weight: 800;
//  font-style: normal;
//  font-size: 30px;
//  vertical-align: top;
//  padding-top: 21px;
//}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  padding-top: 60px;

}

.menu__burger {
  position: relative;
  height: 20px;
  width: 30px;
  top: 13px;
  right: 100px;
}
