.about__section2 {
  @include sectionsCommonSetting;
  background-color: #19091C;
}

.about__section2-flex-contrainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-2%, 31%);
}

.about__section2-image {
  transform: translate(1px, 30px);
  width: 600px;
}

.about__section2-text-container {
  margin-left: 190px;
}

.about__section2-h3 {

}

.about__section2-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: $textColorMinor;
  margin-top: 55px;
}