.about__section4 {
  @include sectionsCommonSetting;
  gap: 240px;
  background: radial-gradient(38% 33% at 50% 60%, #46073e 0%, #0f0510 100%);
}

.--flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4__h3 {
  transform: translate(10px, 20px);
}
.about__section4-container {
  gap: 40px;
  transform: translate(8px, -20px);
}
.about__section4-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.about__btn {
  padding: 40px 140px;
  border-radius: 46px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $textColorMinor;
  transition: filter 0.4s;
  &:hover {
    cursor: pointer;
    filter: brightness(150%);
    transition: filter 0.6s;
  }
}

.about__submit-btn1 {
  background: linear-gradient(270deg, #EC1B59 0%, #72147E 100%);
  &:hover {
    background: linear-gradient(270deg, #72147E 0%, #EC1B59 100%);
  }
}
.about__submit-btn2 {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #EC1B59;
  padding: 37px 133px;
  &:hover {
    background: linear-gradient(270deg, #2f0938 0%, #461531 100%);
  }
}