.about__section3 {
  @include sectionsCommonSetting;
  background-color: #19091C;
  //background-image: url("../../assets/img/about/3_bg.png");
}
.about__section3_central-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-4%, 2%);
  gap: 170px;
}
.about__section3-left-container {
  margin-left: 190px;
  transform: translate(129px, 34px);
}
.about__section3-h3 {

}
.about__section3-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: $textColorMinor;
  margin-top: 55px;
}
.about__section3-image {
  transform: translate(12px, -2px);
  width: 930px;
  height: 1050px;
}
