.section2__image1-container {
  position: relative;
}
.section2__animated-container {
  position: absolute;
  top: -7px;
  left: 165px;
  overflow: hidden;
  border-radius: $animatedContainerBorderRadius;
  height: 724px;
}

.section2__animated-screen {
  @include animatedScreens;
  height: 1330px;
  width: 333px;
  //width: $HomeMobile1BlockWidth - 288;
  &:hover {
    transform: translateY(-600px);
  }
}

.section3 {
  position: relative;
}
.section3__animated-container {
  position: absolute;
  top: 176px;
  left: 352px;
  overflow: hidden;
  border-radius: $animatedContainerBorderRadius;
height: 720px;
}
.section3__animated-screen {
  @include animatedScreens;
  height: 1440px;
  width: 336px;
  &:hover {
    transform: translateY(-600px);
  }
}


.section4 {
  position: relative;
}
.section4__animated-container {
  position: absolute;
  top: 174px;
  left: 1221px;
  overflow: hidden;
  border-radius: $animatedContainerBorderRadius;
  height: 728px;
}
.section4__animated-screen {
  @include animatedScreens;
  height: 1440px;
  width: 340px;
  &:hover {
    transform: translateY(-600px);
  }
}



.section5 {
  position: relative;
}
.section5__animated-container {
  position: absolute;
  top: 174px;
  left: 353px;
  overflow: hidden;
  border-radius: $animatedContainerBorderRadius;
  height: 730px;
}
.section5__animated-screen {
  @include animatedScreens;
  height: 1440px;
  width: 336px;
  &:hover {
    transform: translateY(-600px);
  }
}