
.section5 {
  position: relative;
}
.section5__animated-container {
  position: absolute;
  top: 174px;
  left: 353px;
  overflow: hidden;
  border-radius: $animatedContainerBorderRadiusDesktop;
  height: $mobileBaseHeightDesktop;
}
.section5__animated-screen {
  @include animatedScreens;
  width: 336px;
  height: 1440px;
  &:hover {
    transform: translateY(-600px);
  }
}

