.section3{
  @include sectionsCommonSetting;
  background-color: #0f0014;
  //background-image: url("../../assets/img/home/3bg.png");
}
.section3__flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3__left-part {
  margin-top: 125px;
  margin-left: 180px;

}
.section3__right-part {
  width: 55%;
  height: 800px;
  margin-top: 350px;
  margin-left: -310px;
}
.section3__h3 {
  transform: translateX(-15px);
}

.section3__image1 {
  position: relative;
  top: -150px;
  left: -246px;
  width: 1180px;
  height: 1100px;
}
.section3__image2 {
  position: absolute;
  top: 158px;
  left: 330px;
  width: 380px;
  height: 760px;
}

.submenu3 {
  margin-top: 63px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
}
.submenu3__item {
  border: 1px solid #48025E;
padding-top: 20px;
  padding-bottom: 20px;
  width: 120px;
  color: rgba(236, 27, 89, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  &:hover {
    //cursor: pointer;
  }
}
