.section3 {
  position: relative;
  @include sectionsCommonSetting;
  background-color: #0f0014;
  //background-image: url("../../assets/img/home/3bg.png");
}

.section3__flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submenu3 {
  margin-top: 63px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
}

.submenu3__item {
  border: 1px solid #48025E;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 120px;
  color: rgba(236, 27, 89, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.section3__h3 {
  transform: translateX(-15px);
}

.section3__left-part {
  margin-top: 125px;
  margin-left: 30px;

}


//секция регулировки размеров мобилок

@media (min-width: $breakpoint_Large_Screen + 1px) {
  .section3 {
    height: $LargeScreenHeight;
  }
  .submenu3 {
    position: relative;
    top: 70px;
    left: 230px;
  }
  .section3__left-part {
    position: relative;
    top: 170px;
  }
  .section3__right-part {
    width: 45%;
    height: 800px;
    margin-top: 200px;
    margin-left: -310px;
  }
  .section3__image1 {
    position: relative;
    top: -220px;
    left: -195px;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
  }
  .section3__image2 {
    position: absolute;
    top: -100px;
    left: 150px;
    width: $mobileBaseWidthDesktop;
    height: $mobileBaseHeightDesktop;
  }
  .section3__animated-container {
    position: absolute;
    top: -82px;
    left: 173px;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightDesktop - 40;
  }
  .section3__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection;
    height: $mobileBaseHeightDesktop * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightDesktop);
    }
  }
}

@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen) {
  .section3 {
    height: $DeskTopScreenHeight;
  }
  .submenu3 {
margin-top: 150px;
  }
  .section3__right-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    margin-top: -400px;
    margin-left: -410px;
  }
  .section3__left-part {
    position: relative;
  }
  .section3__image1 {
    position: relative;
    top: -220px;
    left: -195px;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
  }
  .section3__image2 {
    position: absolute;
    top: -100px;
    left: 150px;
    width: $mobileBaseWidthDesktop;
    height: $mobileBaseHeightDesktop;
  }
  .section3__animated-container {
    position: absolute;
    top: -82px;
    left: 173px;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightDesktop - 40;
  }
  .section3__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection;
    height: $mobileBaseHeightDesktop * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightDesktop);
    }
  }

}

@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  .section3 {
    height: $TabletScreenHeight;
  }
  .section3__left-part {
    position: relative;
    margin-left: 180px;
  }
  .section3__right-part {
    width: 55%;
    height: 800px;
    margin-top: 350px;
    margin-left: -310px;
  }
  .section3__image1 {
    position: relative;
    top: -150px;
    left: -295px;
    width: $svgFigureSizeTablett;
    height: $svgFigureSizeTablett;
  }
  .section3__image2 {
    position: absolute;
    top: -65px;
    left: -95px;
    width: $mobileBaseWidthTablet;
    height: $mobileBaseHeightTablet;
  }
  .section3__animated-container {
    top: -57px;
    left: -84px;
    border-radius: $animatedContainerBorderRadiusTablet;
    height: $mobileBaseHeightTablet - 20;
  }
  .section3__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthTablet - $TablettMobWidthCorrection;
    height: $mobileBaseHeightTablet * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightTablet);
    }
  }
}

@media (max-width: $breakpoint_tabblet) {
  .section3 {
    height: $MobileScreenHeight;
  }
  .section3__h3 {
    width: 200px;
    transform: translateX(2px);

  }
  .submenu3 {
    transform: translate(-20px, -90px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
  }
  .submenu3__item {
    position: relative;
    top: 440px;
    padding: 10px 7px;
    @include tabSizeMobile;
  }
  .section3__flex-container {
    position: relative;
    flex-flow: column;
  }
  .section3__left-part {
    position: relative;
    top: 200px;
    transform: translateX(-5px);
  }
  .section3__right-part {
    transform: translateX(15px);
    position: relative;
    //max-height: 100px;
    top: -70px;
    //left: 36%;
  }
  .section3__image1 {
    position: absolute;
    top: -150px;
    left: -180px;
    width: $svgFigureSizeMobile;
    height: $svgFigureSizeMobile;
  }
  .section3__image2 {
    position: absolute;
    top: -100px;
    left: -70px;
    width: $mobileBaseWidthMobSize;
    height: $mobileBaseHeightMobSize;
  }
  .section3__animated-container {
    position: absolute;
    top: -95px;
    left: -63px;
    border-radius: $animatedContainerBorderRadiusMobSize;
    height: $mobileBaseHeightMobSize - 14;
  }
  .section3__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthMobSize - $mobileBaseWidthCorrection;
    height: $mobileBaseHeightMobSize * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightMobSize);
    }
  }
}


