.section5 {
  @include sectionsCommonSetting;
  background-color: #19091C;
  //background-image: url("../../assets/img/home/5bg.png");
  position: relative;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: center;
}
.submenu5{
  gap: 10px;
}

.submenu5__item {
margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 140px;
  color: $textColorMinor;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  &:nth-child(2n){
    color: white;
  }
}
.--arrowed_logo {
  width: 90px;
  height: 90px;
}


@media (min-width: $breakpoint_Large_Screen) {
  .section5__left-part {
    position: relative;
    top: -350px;
  }
  .section5__right-part {
    position: relative;
  }
  .section5__image1 {
    position: absolute;
    left: -365px;
    top: -150px;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
  }
  .section5__image2 {
    position: absolute;
    top: -13px;
    left: -24px;
    width: $mobileBaseWidthDesktop;
    height: $mobileBaseHeightDesktop;
  }
  .section5__animated-container {
    position: absolute;
    //top: 174px;
    //left: 348px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightDesktop - 30;
  }
  .section5__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection;
    height: $mobileBaseHeightDesktop * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightDesktop);
    }
  }

}

@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen) {
  .submenu5 {
    transform: translateX(-60px);
  }
  .submenu5__item {
    width: 80px;
    font-weight: 400;
  }

  .section5__left-part {
    position: relative;
    top: -370px;
    left: -40px;
  }

  .section5__right-part {
    position: relative;
    left: 140px;
  }

  .section5__image1 {
    position: absolute;
    left: -365px;
    top: -150px;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
  }
  .section5__image2 {
    position: absolute;
    top: -13px;
    left: -24px;
    width: $mobileBaseWidthDesktop;
    height: $mobileBaseHeightDesktop;
  }
  .section5__animated-container {
    position: absolute;
    //top: 174px;
    //left: 348px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightDesktop - 30;
  }
  .section5__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection;
    height: $mobileBaseHeightDesktop * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightDesktop);
    }
  }

}

@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  .section5__left-part {
    position: relative;
    top: -160px;
    left: 70px;
  }
  .section5__right-part {
    position: relative;
    top: - 240px;
    left: 180px;
  }
  .submenu5{
    position: relative;
    top: 550px;
    left: -280px;
  }
  .submenu5__item {
    width: 90px;
  }
  .section5__image1 {
    position: absolute;
    left: -190px;
    top: -100px;
    width: $svgFigureSizeTablett;
    height: $svgFigureSizeTablett;
  }
  .section5__image2 {
    position: absolute;
    top: -13px;
    left: 10px;
    width: $mobileBaseWidthTablet;
    height: $mobileBaseHeightTablet;
  }
  .section5__animated-container {
    position: absolute;
    top: -5px;
    left: 20px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusTablet;
    height: $mobileBaseHeightTablet - 15px;
  }
  .section5__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthTablet - $TablettMobWidthCorrection;
    height: $mobileBaseHeightTablet * 2 - 10px;

    &:hover {
      transform: translateY(- $mobileBaseHeightTablet);
    }
  }
}

@media (min-width: $breakpoint_smartphone) and (max-width: $breakpoint_tabblet) {

  .section5 {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: $MobileScreenHeight;
  }
  .section5__left-part {
    position: relative;
    top: 20px;
    left: -60px;
  }
  .section5__right-part {
    position: relative;
    left: 1px;
    top: 80px;
  }
  .submenu5 {}
  .submenu5__item {
    @include tabSizeMobile;
    position: relative;
    top: 400px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .--arrowed {
    width: 70px;
    height: 70px;
  }

  .--arrowed_logo {
    width: 60px;
    height: 60px;
  }




  .section5__image1 {
    position: absolute;
    top: -40px;
    left: -110px;
    width: $svgFigureSizeMobile;
    height: $svgFigureSizeMobile;
  }
  .section5__image2 {
    position: absolute;
    top: 1px;
    left: 1px;
    width: $mobileBaseWidthMobSize;
    height: $mobileBaseHeightMobSize;
  }
  .section5__animated-container {
    position: absolute;
    top:  7px;
    left: 8px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusMobSize;
    height: $mobileBaseHeightMobSize - 8px;
  }
  .section5__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthMobSize - $mobileBaseWidthCorrection;
    height: $mobileBaseHeightMobSize * 2 - 6px;

    &:hover {
      transform: translateY(- $mobileBaseHeightMobSize);
    }
  }
}

@media (max-width: $breakpoint_smartphone) {

    .section5 {
      flex-direction: column-reverse;
      justify-content: flex-end;
      height: $MobileScreenHeight;
    }
    .section5__left-part {
      position: relative;
      top: 20px;
      left: -60px;
    }
    .section5__right-part {
      position: relative;
      left: 1px;
      top: 80px;
    }
  .submenu5 {}
  .submenu5__item {
    position: relative;
    top: 400px;
    width: 20px;
    @include tabSizeMobile;
    padding-left: 2px;
    padding-right: 2px;
  }
  .--arrowed {
    width: 40px;
    height: 40px;
  }

  .--arrowed_logo {
    width: 30px;
    height: 30px;
  }




  .section5__image1 {
      position: absolute;
      top: -40px;
      left: -110px;
      width: $svgFigureSizeMobile;
      height: $svgFigureSizeMobile;
    }
    .section5__image2 {
      position: absolute;
      top: 1px;
      left: 1px;
      width: $mobileBaseWidthMobSize;
      height: $mobileBaseHeightMobSize;
    }
    .section5__animated-container {
      position: absolute;
      top:  7px;
      left: 8px;
      overflow: hidden;
      border-radius: $animatedContainerBorderRadiusMobSize;
      height: $mobileBaseHeightMobSize - 8px;
    }
    .section5__animated-screen {
      @include animatedScreens;
      width: $mobileBaseWidthMobSize - $mobileBaseWidthCorrection;
      height: $mobileBaseHeightMobSize * 2 - 6px;

      &:hover {
        transform: translateY(- $mobileBaseHeightMobSize);
      }
    }
  }



