.section2 {
  @include sectionsCommonSetting;
  background-color: #19091C;
  //background-image: url("../../assets/img/home/2bg.png")
}
.submenu2 {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.submenu2__item {
  border: 1px solid #48025E;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 120px;
  color: rgba(236, 27, 89, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  &:hover {
    //cursor: pointer;
  }
}

//секция корректировки суб-менюшек
@media (min-width: $breakpoint_Large_Screen) {
  .submenu2 {
    flex-flow: row nowrap;
  }
}
@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen) {
  .submenu2 {
    flex-flow: row wrap;
  }

  .submenu2__item {
    //width: 90px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  .submenu2 {
    flex-flow: row wrap;
  }
  .submenu2__item {
    width: 90px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: $breakpoint_smartphone + 1px) and (max-width: $breakpoint_tabblet) {
  .submenu2 {
    flex-flow: row nowrap;
  }
  .submenu2__item {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
  }
}


//секция регулировки размеров мобилок
@media (min-width: $breakpoint_Desktop + 1px) {
  .section2__flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2__left-part {
    margin-left: 242px;
    margin-top: 385px;
    width: 45%;
  }
  .section2__right-part {
    width: 55%;
    margin-top: -20px;
    margin-left: 120px;
  }
  .section2__image1 {
    position: absolute;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
    transform: translate(-200px, -1px);
  }
  .section2__image2 {
    position: relative;
    width: $mobileBaseWidthDesktop;
    height: $mobileBaseHeightDesktop;
    top: 150px;
    left: 140px;
  }

  .section2__animated-container {
    top: 1240px;
    left: 1228px;
    border-radius: $animatedContainerBorderRadiusTablet;
    height: $mobileBaseHeightDesktop;
  }
  .section2__animated-screen {
    @include animatedScreens;
    position: absolute;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection;
    height: $mobileBaseHeightDesktop * 2 - 80px;
    &:hover {
      transform: translateY(-600px);
    }
  }
}
@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  .section2__left-part {
    position: relative;
    top: 30px;
    left: 100px;
  }
  .section2__right-part {}
  .section2__image1 {
    position: relative;
    width: $svgFigureSizeTablett;
    height: $svgFigureSizeTablett;
    top: 20px;
    left: 100px;
  }
  .section2__image2 {
    position: relative;
    width: $mobileBaseWidthTablet;
    height: $mobileBaseHeightTablet;
    top: 50px;
    left: 300px;
  }
  .section2__animated-container {
    position: absolute;
    top: 20px;
    left: 1px;
    border-radius: $animatedContainerBorderRadiusTablet;
    height: $mobileBaseHeightTablet;
  }
  .section2__animated-screen {
    position: absolute;
    width: $mobileBaseWidthTablet;
    height: $mobileBaseHeightTablet * 2;
    z-index: 3;

    &:hover {
      transform: translateY(-600px);
    }
  }
}
@media (max-width: $breakpoint_tabblet) {
  .section2__animated-container {
    top: -7px;
    left: 165px;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: 724px;
  }

  .section2__animated-screen {
    width: 333px;
    height: 1330px;

    &:hover {
      transform: translateY(-600px);
    }
  }
}
