.section4 {
  @include sectionsCommonSetting;
  background-color: #19091C;
  //background-image: url("../../assets/img/home/4bg.png");
  position: relative;

}

.submenu4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-flow: row nowrap;
}

.section4__flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submenu4__item {
  border: 1px solid #48025E;
  color: rgba(236, 27, 89, 1);
  text-align: center;

  &:nth-child(2n) {
    color: white;
  }
}

@media (min-width: $breakpoint_Large_Screen) {
  .submenu4 {
    margin-top: 100px;
  }
  .submenu4__item {
    @include tabSizeDesktop;
  }


  .section4__left-part {
    margin-left: 240px;
    margin-top: 340px;
    width: 35%;
    height: 800px;
  }
  .section4__right-part {
    position: relative;
    width: 800px;
    height: 800px;

  }
  .section4__image1 {
    position: absolute;
    top: -160px;
    left: -100px;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
  }
  .section4__image2 {
    position: absolute;
    top: -10px;
    left: 240px;
    width: $mobileBaseWidthDesktop - 6;
    height: $mobileBaseHeightDesktop;
  }

  .section4__animated-container {
    position: absolute;
    top: 6px;
    left: 254px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightDesktop - 30;
  }
  .section4__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection + 6px;
    height: $mobileBaseHeightDesktop * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightDesktop);
    }
  }
}

@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen) {

  .submenu4 {
    margin-top: 210px;
    gap: 14px;
    flex-flow: row wrap;
  }
  .submenu4__item {
    @include tabSizeDesktop;
  }
  .section4__flex-container {
  }
  .section4__left-part {
    position: relative;
    top: 80px;
    width: 45%;
  }
  .section4__right-part {
    position: relative;
    top: -10px;
    width: 600px;
    height: 500px;
    margin-left: -10px;
  }

  .section4__image1 {
    position: absolute;
    top: -150px;
    left: -230px;
    width: $svgFigureSizeDesktop;
    height: $svgFigureSizeDesktop;
  }
  .section4__image2 {
    position: absolute;
    top: 1px;
    left: 112px;
    width: $mobileBaseWidthDesktop;
    height: $mobileBaseHeightDesktop;
  }
  .section4__animated-container {
    position: absolute;
    top: 15px;
    left: 131px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightDesktop - 30;
  }
  .section4__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthDesktop - $DesktopMobWidthCorrection + 6;
    height: $mobileBaseHeightDesktop * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightDesktop);
    }
  }
}

@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  .submenu4 {
    margin-top: 100px;
    gap: 10px;
    flex-flow: row wrap;
  }
  .submenu4__item {
    @include tabSizeTablett;
  }
  .section4__flex-container {
    display: flex;
    justify-content: space-between;
  }
  .section4__left-part {
    margin-top: 300px;
    margin-left: 40px;
    width: 45%;
    height: 800px;
  }
  .section4__right-part {
    position: relative;
    height: 800px;
    margin-top: -200px;
    margin-left: -10px;
  }
  .submenu4 {
    gap: 14px;
    flex-flow: row wrap;
  }
  .submenu4__item {
    width: 110px;
    font-weight: 400;
  }

  .section4__image1 {
    //top: -50px;
    //left: 100px;
    width: $svgFigureSizeTablett;
    height: $svgFigureSizeTablett;
    transform: translate(-50px, 100px);
  }
  .section4__image2 {
    position: relative;
    top: -420px;
    left: 150px;
    width: $mobileBaseWidthTablet;
    height: $mobileBaseHeightTablet;
  }
  .section4__animated-container {
    position: absolute;
    top: 191px;
    left: 156px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusDesktop;
    height: $mobileBaseHeightTablet - 18;
  }
  .section4__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthTablet - $TablettMobWidthCorrection + 6;
    height: $mobileBaseHeightTablet * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightTablet);
    }
  }
}

@media (max-width: $breakpoint_tabblet) {
  .section4 {
    height: $MobileScreenHeight;
  }
  .section4__flex-container {
    flex-direction: column;
  }
  .section4__left-part {
    position: relative;
    top: 30px;
    width: 50%;
  }
  .section4__right-part {
    position: relative;
    top: 1px;
  }
  .submenu4 {
    transform: translate(-1px, 350px);
    gap: 5px;
    flex-flow: row nowrap;
  }
  .submenu4__item {
    @include tabSizeMobile;
  }
  .section4__image1 {
    position: absolute;
    top: 1px;
    left: -170px;
    width: $svgFigureSizeMobile;
    height: $svgFigureSizeMobile;
  }
  .section4__image2 {
    position: absolute;
    top: 40px;
    left: -61px;
    width: $mobileBaseWidthMobSize;
    height: $mobileBaseHeightMobSize;
  }
  .section4__animated-container {
    position: absolute;
    top: 45px;
    left: -54px;
    overflow: hidden;
    border-radius: $animatedContainerBorderRadiusMobSize;
    height: $mobileBaseHeightMobSize - 10;
  }
  .section4__animated-screen {
    @include animatedScreens;
    width: $mobileBaseWidthMobSize - $mobileBaseWidthCorrection + 1;
    height: $mobileBaseHeightMobSize * 2;

    &:hover {
      transform: translateY(- $mobileBaseHeightMobSize);
    }
  }
}

