.section6{
  @include sectionsCommonSetting;
  background-color: #19091C;
  //background-image: url("../../assets/img/home/6bg.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 3px red;
}
.section6__h3{
  padding-top: 356px;
}

.section6__image1 {
  position: relative;
  top: 90px;
  width: 1660px;
  height: 1100px;
  transform: translate(80px, -155px);
  align-self: flex-start;
}
@media (min-width: $breakpoint_Large_Screen) {}
@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen){}
@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop){
  .section6__image1 {
    position: relative;
    top: 90px;
    width: 1000px;
    height: 800px;
    transform: translate(80px, -155px);
    align-self: flex-start;
  }
}
@media (min-width: $breakpoint_smartphone + 1px) and (max-width: $breakpoint_tabblet){
  .section6__image1 {
    position: relative;
    top: 90px;
    width: 660px;
    height: 200px;
    transform: translate(-20px, -155px);
    align-self: flex-start;
  }
}
@media (max-width: $breakpoint_smartphone){
  .section6__image1 {
    position: relative;
    top: 90px;
    width: 260px;
    height: 100px;
    transform: translate(-100px, -155px);
    align-self: flex-start;
  }
}