.section6{
  @include sectionsCommonSetting;
  background-color: #19091C;
  //background-image: url("../../assets/img/home/6bg.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section6__h3{
  padding-top: 356px;
}

.section6__image1 {
  position: relative;
  top: 90px;
  width: 1660px;
  height: 1100px;
  transform: translate(80px, -155px);
  align-self: flex-start;
}
@media (min-width: $breakpoint_Large_Screen) {
  .section6{
  }
  .section6__image1 {
    margin: 0 auto;
    left: -90px;
    width: 1000px;
    height: 550px;
  }
}
@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen){
  .section6__h3{
    padding-top: 256px;
  }
  .section6__image1 {
    margin: 0 auto;
    left: -90px;
    width: 1000px;
    height: 600px;
  }
}
@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop){
  .section6__h3{
    padding-top: 220px;
  }
  .section6__image1 {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    transform: translate(-40px, -250px);
    align-self: flex-start;
  }
}
@media (min-width: $breakpoint_smartphone + 1px) and (max-width: $breakpoint_tabblet){
  .section6__h3{
    text-align: center;
    padding-top: 120px;
  }
  .section6__image1 {
    margin: 0 auto;
    width: 500px;
    height: 260px;
    transform: translate(-25px, -250px);
    align-self: flex-start;
  }
}
@media (max-width: $breakpoint_smartphone){
  .section6{
    height: $MobileScreenHeight;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .section6__h3{
    text-align: center;
    padding-top: 90px;
    width: 70%;
  }

  .section6__image1 {
    position: relative;
    top: -120px;
    width: 300px;
    height: 150px;
    transform: translate(0, 0);
    align-self: center;
  }




}