.team__section2 {
  @include sectionsCommonSetting;
  background-color: #19091C;
}

.team__section2-flex-contrainer {
  transform: translate(1%, 83%);
  gap: 250px;
}

.team__section2-image {
  width: 450px;
}

.team__section2-text-container {
}

.team__section2-h3 {

}

.team__section2-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: $textColorMinor;
  margin-top: 70px;
}