.team__section3 {
  @include sectionsCommonSetting;
  background-color: #19091C;
}

.team__section3-h3 {
  padding-top: 110px;
  margin-bottom: 100px;
  text-align: center;
}
.team__section3-slider-container {
  margin: 0 auto;
  width: 79%;
  justify-content: space-around;
  gap: 12px;
  align-items: baseline;
}


.team__section3-slider-container:before {
  content: "";
  width:  26px;
  height: 42px;
  transform: translateX(-90px);
  background-image: url("../img/team/left.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.team__section3-slider-container:after {
  content: "";
  width:  26px;
  height: 42px;
  transform: translateX(90px);
  background-image: url("../img/team/right.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.team__section3-slider-container:hover:before {
  opacity: 0.7;
}
.team__section3-slider-container:hover:after {
  opacity: 0.7;
}


.team__section3-slider-item {

}
.team__section3-image {

}
.team__section3-text-container {

}

.team__section3-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-top: 40px;
}
.team__section3-slider-icons-container {
  justify-content: flex-start;
  gap: 50px;
  margin-top: 187px;
}


.team_section3-slider-icon-item {
  fill: $textColorMinor;
}
.--drop {
 transform: translateY(30px);
}