@import "./_variables.scss";

.wrapper {
  width: 100%;
  //width: 100vw;
  //max-width: $breakpoint_Large_Screen;
  min-width: $breakpoint_smartphone - 100;
  position: relative;
  //padding: 10px 10px;
  margin: 0 auto;
  opacity: 1;
  color: $textColorMinor;
  box-sizing: border-box;
  font-family: 'Monserrat', serif;
}

.--shadowed {
  filter: brightness(50%);
  z-index: -1;
}

.--flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.--flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


//корректировка заголовков h1, h2, h3
@media (min-width: $breakpoint_Large_Screen) {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    align-items: center;
    text-align: center;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    text-align: left;
  }
  h4 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
  }
}
@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen) {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    align-items: center;
    text-align: center;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    text-align: left;
  }
  h4 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
  }
}
@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 66px;
    text-align: left;
  }
  h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: $breakpoint_smartphone + 1px) and (max-width: $breakpoint_tabblet) {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
  }
  h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: $breakpoint_smartphone) {
  h2 {
    font-weight: bold;
    font-size: 46px;
    line-height: 44px;
    text-align: center;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
.animated-container {
  position: absolute;
  overflow: hidden;
}

//переключение flex на block для мобильного режима
@media (max-width: $breakpoint_tabblet) {
  .section2__flex-container, .section3__flex-container,
  .section4__flex-container, .section5__flex-container, .section5__flex-container,
  .section6__flex-container, .section7__flex-container,
  .about__section2-flex-container,
  .team__section2-flex-container, .team__section3-slider-container {
    display: block;
  }
}

//корректировка размера кадров
@media (min-width: $breakpoint_Large_Screen) {
  .section1, .section2, .section3, .section4, .section5, .section6, .section7,
  .about__section1, .about__section2, .about__section3, .about__section4,
  .team__section1, .team__section2, .team__section3, .team__section4 {
    height: $LargeScreenHeight;
  }
  .wrapper {
    max-width: $breakpoint_Large_Screen;
  }
}
@media (min-width: $breakpoint_Desktop + 1px) and (max-width: $breakpoint_Large_Screen) {
  .section1, .section2, .section3, .section4, .section5, .section6, .section7,
  .about__section1, .about__section2, .about__section3, .about__section4,
  .team__section1, .team__section2, .team__section3, .team__section4 {
    height: $DeskTopScreenHeight;
  }
  .wrapper {
    max-width: $breakpoint_Desktop;
  }
}
@media (min-width: $breakpoint_tabblet + 1px) and (max-width: $breakpoint_Desktop) {
  .section1, .section2, .section3, .section4, .section5, .section6, .section7,
  .about__section1, .about__section2, .about__section3, .about__section4,
  .team__section1, .team__section2, .team__section3, .team__section4 {
    height: $TabletScreenHeight;
  }
  .wrapper {
    max-width: $breakpoint_tabblet;
  }
}
@media (min-width: $breakpoint_smartphone + 1px) and (max-width: $breakpoint_tabblet) {
  .section1, .section2, .section3, .section4, .section5, .section6, .section7,
  .about__section1, .about__section2, .about__section3, .about__section4,
  .team__section1, .team__section2, .team__section3, .team__section4 {
    height: $MobileScreenHeight;
  }
  .wrapper {
    max-width: $breakpoint_smartphone;
  }
}


