@import "./_variables.scss";

.wrapper {
  padding: 5px 10px;
  margin: 0 auto;
  opacity: 1;
color: white;
}

.--shadowed {
  opacity: 0.2;
}


.section1 {
  background-image: url("../src/img/1.png");
}
.section2 {
  background-image: url("../src/img/2.png");
  color :darkgreen;
}
.section3 {
  background-image: url("../src/img/3.png");
}
.section4 {
  background-image: url("../src/img/4.png");
}
.section5 {
  background-image: url("../src/img/5.png");
}
.section6 {
  background-image: url("../src/img/6.png");
}
.section7 {
  background-image: url("../src/img/7.png");
}