@import "./_variables.scss";

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  align-items: center;
  text-align: center;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  text-align: left;
}

.wrapper {
  max-width: $breakpoint_Desktop; //это должно управляться из медиазапросов -пофиксить
  position: relative;
  padding: 10px 10px;
  margin: 0 auto;
  opacity: 1;
  color: $textColor;
  //color: $textColorDemo;
  box-sizing: border-box;
  font-family: 'Monserrat', serif;
}

.--shadowed {
  opacity: 0.6;
}
.--invisible {
  opacity: 0;
}

.section2 {
   background-image: url("../src/img/2.png");
 }.section3 {
    background-image: url("../src/img/3.png");
  }.section4 {
     background-image: url("../src/img/4.png");
   }
.section5 {
  background-image: url("../src/img/5.png");
}

.section6 {
  background-image: url("../src/img/6.png");
}

.section7 {
  background-image: url("../src/img/7.png");
}

