.wrapper {
  padding: 5px 10px;
  margin: 0 auto;
  opacity: 1;
}

.--shadowed {
  opacity: 0.2;
}

.section1 {
  background-image: url("../../src/img/1.png");
  background-position: center;
  background-size: 100% 100%;
}
.section2 {
  background-image: url("../../src/img/2.png");
  background-position: center;
  background-size: 100% 100%;
}
.section3 {
  background-image: url("../../src/img/3.png");
  background-position: center;
  background-size: 100% 100%;
}
.section4 {
  background-image: url("../../src/img/4.png");
  background-position: center;
  background-size: 100% 100%;
}
.section5 {
  background-image: url("../../src/img/5.png");
  background-position: center;
  background-size: 100% 100%;
}
.section6 {
  background-image: url("../../src/img/6.png");
  background-position: center;
  background-size: 100% 100%;
}
.section7 {
  background-image: url("../../src/img/7.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}