$breakpoint_Large_Screen: 1920px;
$LargeScreenHeight: 1082px;
$breakpoint_Desktop: 1224px;
$DeskTopScreenHeight: 800px;
$breakpoint_tabblet: 768px;
$TabletScreenHeight: 1082px;
$breakpoint_smartphone: 480px;
$MobileScreenHeight: 800px;
$footerHeight: 274px;
$textColor: white;
$textColorMinor: #DADADA;
$textColorDemo: goldenrod;
$onHoverTextColor: red;
$animatedContainerBorderRadiusDesktop: 45px;
$animatedContainerBorderRadiusTablet: 25px;
$animatedContainerBorderRadiusMobSize: 10px;


//размеры блоковМобилок:
$mobileBaseWidthDesktop:  380px;
$DesktopMobWidthCorrection:  45px;
$mobileBaseHeightDesktop: 760px;

$mobileBaseWidthTablet:   200px;
$TablettMobWidthCorrection: 22px;
$mobileBaseHeightTablet:  430px;

$mobileBaseWidthMobSize:  120px;
$mobileBaseWidthCorrection:  14px;
$mobileBaseHeightMobSize: 260px;

//размеры SVG фигур под мобилками
$svgFigureSizeDesktop: 1060px;
$svgFigureSizeTablett: 600px;
$svgFigureSizeMobile:  340px;

@mixin sectionsCommonSetting {
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@mixin animatedScreens {
  transition: all 2s;
  &:hover {
    transition: all 4s;
  }
}