$breakpoint_Desktop: 1920px;
$breakpoint_smartphone: 325px;
$sectionHeight: 1082px;
$footerHeight: 274px;
$textColor: white;
$textColorMinor: #DADADA;
$textColorDemo: goldenrod;
$onHoverTextColor: red;

//размеры блоковМобильныхКартинок:
$HomeMobile1BlockWidth:  600px;
$HomeMobile1BlockHeight: 730px;


@mixin sectionsCommonSetting {
  background-position: center;
  background-repeat: no-repeat;
  background-size: $breakpoint_Desktop auto;
  height: $sectionHeight;
  max-width: $breakpoint_Desktop;
  margin: 0 auto;
}